.contacto-formulario {
    padding: 10rem 0;
    text-align: center;
    h3 {
        color: $grisClaro2;
        margin-bottom: 4rem;
    }
}
.contacto-contenedor {
    align-items: center;
    p{
        display: block;
        text-align: center;
        color: $blanco;
        font-size: 2rem;
    }
}
.contacto-formulario{
    p{
        display: block;
        text-align: center;
        color: $blanco;
        font-size: 2rem;
        padding-top: 1rem;
    }
}

.formulario {
    margin-top: 3rem;
    height: 40rem;
    background-color: $grisAlpha;
    border-radius: 5px;
    margin: 2rem auto 0 auto;
    width: 75%;
    padding: 0rem 2rem 3rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 28px 11px rgba(0,0,0,0.55);
}
.campo{
    display: flex;
    margin-bottom: 1rem;
    gap: 2rem;
}
.campo__label {
    flex: 0 0 9rem;
    text-align: right;
    color: $grisClaro2;
    font-weight: bold;
}
.campo__field{
    flex: 1;
    border: 1px solid var(--gris);
}
.campo__field--textarea{
    height: 20rem;
    width: 100%;
    border: 1px solid var(--gris);
}