.quines-somos {
    h2 {
    color: $blanco;
}
}
.productos-main {
margin: 5rem auto;
@include flex(column-reverse, 2rem);
h3{
    font-size: 3rem;
    color: $verdecl;
}
@include tablet {
    align-items: center;
    @include grid(2, 5rem);
    h3 {font-size: 5rem;}
}
}
@include tablet {
.org {
    h3,p {
    text-align: start;
    }
}
.org2 {
grid-auto-flow: column;
.huerta-productos {
    grid-column: 2;
     h3, p{
        text-align: start;
        }
    }
}
}
.nosotros-container{
    height: auto;
    width: 100%;
}
 
.nosotros-contenedor{
    margin: 10rem auto;
    text-align: center;   
    color: $blanco;
    background-color: rgba(#000000, .2);
    padding: 5rem;
}
.nosotros-contenido {
    @include grid(2, 2rem);
    color: $blanco;
    width: 70%;

    h2 {
        text-align: center;
    }
    p {
        color: $blanco;  
    }
    
}
.titulo-nosotros {
    height: 50rem !important;
    margin-bottom: 10rem !important;
    p{
        font-size: 2.7rem;
        color: $amarillo;
    }
}
.trayectoria {
    background-color: $grisClaro2;
    padding: 5rem;
    margin: 0 auto;
    
}
.trayectoria-contenido {
    p{
        color: $verdeos;
    }
    .img-tr{
        width: fit-content;
    }
    .trayectoria-flex {
        @include tablet {
            display: grid;
            grid-template-columns: 3fr 2fr;
            gap: 3rem;

        }
    }
}

