.sec-productos{
    text-align: center;
    color: $verdeos;
    background-color: $alpha;
}
// .main {
//     background-color: $blanco;
//     background-position: fixed;
//     width: 100%;
//     padding: 2rem 0 15rem 0;
//     h2{
//         font-family: $fuente_principal;
//         font-size: 7rem;
//         margin-bottom: 9rem;
//     }
// }
// .productos{
//     color
// }
// .producto_img{

// }
