
@include tablet {
    .org3 {
        @include flex(column-reverse, 2rem);
        grid-auto-flow: column;
        .huerta-productos {
            grid-column: 2;
             h3, p{
                text-align: center;
                }
            }
        }
}
.productos-main {
    border-bottom: 1px solid $grisClaro;
    padding-bottom: 5rem;
}
