.quines-somos {
        h2 {
        color: $blanco;
    }
}
.productos-main {
    margin: 10rem auto;
    @include flex(column-reverse, 2rem);
    h3{
        font-size: 3rem;
        color: $verdecl;
    }
    @include tablet {
        align-items: center;
        @include grid(2, 5rem);
        h3 {font-size: 5rem;}
    }
}
@include tablet {
    .org {
        h3,p {
        text-align: start;
        }
    }
    .org2 {
    grid-auto-flow: column;
    .huerta-productos {
        grid-column: 2;
         h3, p{
            text-align: start;
            }
        }
    }
}